<form action="/transcribe" method="post" enctype="multipart/form-data" id="transcribe_form">
    <label for="audio_file">Select a media file:</label>
    <input type="file" name="audio_file" accept=".mp3, .wav, .ogg, .mp4" required>
    <br>
    <label for="format">Select download format:</label>
    <select name="format" id="format">
        <option value="text">Text (.txt)</option>
        <option value="srt">SubRip Subtitle (.srt)</option>
    </select>
    <br>
    <label for="language">Select language:</label>
    <select name="language" id="language">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="he">Hebrew</option>
    </select>
    <br>
    <br>
    <button type="submit">Transcribe and Download</button>
</form>